# Cache Python
__pycache__/
*.py[cod]
.pytest_cache

# Environnements virtuels
.venv/
venv/

# Fichiers d'éditeurs
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Variables d'environnement et secrets
.env

#Fichiers de test
result.json
results/
erreur/
fornt_end/
correction.py
thread_demo.py